<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand abs" routerLink='/'>PlayerBase</a>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li routerLinkActive='active' class="nav-item">
                <a class="nav-link" routerLink='/players'>Players</a>
            </li>
            <li routerLinkActive='active' class="nav-item">
                <a class="nav-link" routerLink='/clubs'>Club</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li routerLinkActive='active' class="nav-item">
                <a class="nav-link" routerLink='/'>Sign up</a>
            </li>
            <li routerLinkActive='active' class="nav-item">
                <a class="nav-link" routerLink='/'>Sign in</a>
            </li>
        </ul>
    </div>
</nav>