<app-header></app-header>
<div class="jumbotron">
  <div class="row text-center">
    <div class="col-xs">
      <h1></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col text-center hovereffect">
      <img src="../../../assets/img/keeperinaction.jpg" alt="keeper" class="frontpageimage">
      <div class="overlay">
        <h2>Players</h2>
        <a routerLink='/players' class="info btn" role="button" >Meer info</a>
      </div>
    </div>
    <div class="col-xs-6 text-center hovereffectclub">
      <img src="../../../assets/img/stadiumgironaadjusted.jpg" alt="stadium" class="frontpageimage">
      <div class="overlay">
          <h2>Clubs</h2>
          <a routerLink='/clubs' class="info btn" role="button" >Meer info</a>
        </div>
    </div>
  </div>
</div>
