<app-header></app-header>
<div class="row">
  <div class="col">
    <div class="col-md-4" *ngFor="let club of clubs">
      <div *ngIf="isPopClub(club)">
        <h4>{{club.name}}</h4>
        <h5 class="card-title">
          <img [src]="club.logo" alt="" class="img-rounded imagelogo">
        </h5>
        <a (click)="onSelect(club)" class="btn btn-success">More info</a>
      </div>
    </div>
  </div>
  <div class="col-6">
      <app-clubs-detail [club]="selectedOperator"></app-clubs-detail>
    </div>
</div>
<br>
<div class="createbutton">
  <a *ngIf="authService.loggedIn()" routerLink='/club/create' routerLinkActive="active" class="btn btn-success">Create
    club</a>
</div>